body {
    text-align: center;
}

.form-control {
    width: 30%;
}

.card {
    width: 30%;
    margin: auto;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}